.popup-card-image {
  background-color: rgba(0, 0, 0, 0.9);
}

.popup-card-image__photo {
  position: relative;
  background-size: cover;
  height: 75vh;
  max-width: 75vh;
  max-height: 75vw;
  object-fit: cover;
}

.popup-card-image__figure {
  position: relative;
}

.popup-card-image__figcaption {
  margin-top: 10px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.popup-card-image_close {
  position: absolute;
}

