/*
.main{
  margin: 0;
  padding: 0;
  height: 75vh;
  width: 75vw;
} */

.popup-card-image {
  background-color: rgba(0, 0, 0, 0.9);
}

.popup-card-image__photo {
  position: relative;
  background-size: cover;
  height: 75vh;
  /* width: 75vw; */
}

@media screen and (max-width: 966px) {
  .popup-card-image__photo{
  width: 100%;
  height: 100%;
  max-width: 75vh;
  max-height: 75vw;
  object-fit: cover;
}
}
/* @media screen and (max-width: 768px) {
  .popup-card-image__figure {
    max-width: 75vw;
  }
} */

.popup-card-image__figure {
  position: relative;
}

.popup-card-image__figcaption {
  margin-top: 10px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.popup-card-image_close {
  position: absolute;
  /* top: 40px;
  right: 40px; */
}

/* @media screen and (max-width: 768px) {
  .popup-card-image_close{

  }
} */
