
@media screen and (max-width: 768px) {
.popup-content__save {
    margin-top: 42px;
    max-width: 238px;
    /* padding-bottom: 6px; */
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
